.promo {
    min-height: 700px;
    background: url('../img/bg/main_bg.jpg') center (center/cover) no-repeat;
    padding: 40px 0 68px 0;
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        &-link {
            color: #fff;
            margin-right: 45px;
            text-transform: uppercase;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: #fff;
            }
        }
    }
    &__title {
        font-size: 42px;
        line-height: 48px;
        color: #fff;
        width: 530px;
        margin-top: 135px;
    }
    &__subtitle {
        width: 430px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #fff;
        margin-top: 27px;
        span {
            font-weight: 400;
        }
    }
    &__btn {
        margin-top: 40px;
    }

    &__iphones {
        position: relative;
        &-first {
            position: absolute;
            bottom: -68px;
            right: 0;
            z-index: 2;
        }
        &-second {
            position: absolute;
            bottom: -68px;
            right: 150px;
        }
    }
    &__slider {
        display: flex;
        justify-content: center;
        &-active {
            background: #fff;
        }
        &-circle {
            width: 11px;
            height: 11px;
            border: 1px solid #fff;
            border-radius: 100%;
            margin: 115px 3px 0 0;
            &:nth-child(1){
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    right: 13px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: rotate(-135deg);
                }
            }
            &:last-child{
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 13px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }
}